<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script>
        setTimeout(function(){
        window.location.reload(1);
        }, 300000);
    </script>
    <title>Horta Orgânica 5.0</title>
</head>
<body>
    <header>
        <div class="cabecalho">
            <h1>Horta Orgânica</h1>
            <h2>Movimento do Trabalhadores Sem Teto</h2>
        </div>
    </header>
    <main>
        <section id="como-funciona">
            <div class="container">
                <h3>Como funciona?</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna sed sed risus hendrerit. Id viverra amet, ultrices tellus nunc. Bibendum tempor commodo dictumst pretium, nunc, enim, laoreet. Egestas sed odio velit volutpat. Viverra nibh tristique purus adipiscing. Dictum tellus, in ut mauris. Massa convallis vulputate tellus ut arcu dictum. Aenean mi mauris purus malesuada massa. Eu elit, ac urna, bibendum sagittis ultricies id.
                    Consequat aenean at tincidunt nulla id lacus, vitae. A, fermentum enim faucibus metus nibh varius. Aliquam velit condimentum ultricies neque enim cursus magna. Tempor, amet consequat neque dignissim. Nunc ullamcorper vulputate blandit odio aliquet sit. Egestas id rhoncus in risus malesuada lacinia porta. Arcu fringilla praesent ultrices fames lectus justo ac at. Consectetur tempor, vitae lorem pretium, imperdiet purus justo 
                </p>
            
                <div class="painel">
                    <div class="col-1">
                        <img src="/static/img/elipse.png" alt="Horta">
                    </div>
                    <div class="col-2">
                        <div class="box-painel">
                            <div class="container-painel">
                                <div class="row">
                                    <div class="col">
                                        <h4>Umidade da terra</h4>
                                        <!-- {{umidade_do_solo}} -->
                                        <p id="status-umidade">Regue novamente</p>
                                        <ul class="nivel nivel-umidade">
                                            <li><div id="umidade1" class="gota"></div></li>
                                            <li><div id="umidade2" class="gota"></div></li>
                                            <li><div id="umidade3" class="gota"></div></li>
                                            <li><div id="umidade4" class="gota"></div></li>
                                            <li><div id="umidade5" class="gota"></div></li>
                                        </ul>
                                    </div>
                                    
                                    <script>
                                        var umidade_do_solo = '{{umidade_do_solo}}';
                                        for (var i = 1; i <= 5; i++) {
                                            var idElement = 'umidade'+i;
                                            if (umidade_do_solo >= i*20){
                                                elemento = document.getElementById(idElement);
                                                elemento.classList.add('active');
                                            }
                                        }
                                        if (umidade_do_solo >= 40) {
                                            document.getElementById("status-umidade").innerText = 'Não regar';
                                        }
                                    </script>
                                   
                                    <div class="col">
                                        <h4>Luminosidade</h4>
                                        <p>Claro</p>
                                        <ul class="nivel nivel-luminosidade">
                                            <li><div class="luz active"></div></li>
                                            <li><div class="luz active"></div></li>
                                            <li><div class="luz active"></div></li>
                                            <li><div class="luz active"></div></li>
                                            <li><div class="luz"></div></li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h4>Umidade do ar</h4>
                                        <!-- {{umidade_do_ar}} -->
                                        <p id="status-umidade-ar">Ar seco</p>
                                        <ul class="nivel nivel-umidade-ar">
                                            <li><div id="umidade-ar1" class="gota"></div></li>
                                            <li><div id="umidade-ar2" class="gota"></div></li>
                                            <li><div id="umidade-ar3" class="gota"></div></li>
                                            <li><div id="umidade-ar4" class="gota"></div></li>
                                            <li><div id="umidade-ar5" class="gota"></div></li>
                                        </ul>
                                    </div>

                                    <script>
                                        var umidade_do_ar = 20;
                                        for (var i = 1; i <= 5; i++) {
                                            var idElement = 'umidade-ar'+i;
                                            if (umidade_do_ar >= i*20){
                                                elemento = document.getElementById(idElement);
                                                elemento.classList.add('active');
                                            }
                                        }
                                        if (umidade_do_ar >= 50) {
                                            document.getElementById("status-umidade-ar").innerText = 'Ar úmido';
                                        }
                                    </script>

                                    <div class="col temp">
                                        <h4>Temperatura do Ar</h4>
                                        <p class="num">{{temperatura_do_ar}}°</p>
                                        <div class="borda-nivel-ar">
                                            <div class="barra-nivel-ar" style="width:{{perc_temperatura}}%"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col nivel-ph">
                                        <h4>Ph</h4>
                                        <ul class="ul-ph">
                                            <li><p>Ácido</p></li>
                                            <li class="li-right"><p>Alcalino</p></li>
                                        </ul>
                                        <div class="borda-nivel-ph">
                                            <div class="barra-nivel-ph"></div>
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="credito">
            <p>Desenvolvido pelo <a href="https://nucleodetecnologia.com.br/" target="_blank">Núcleo de Tecnologia do MTST</a></p>
        </div>
    </footer>    
</body>
</html>