<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script>
        setTimeout(function(){
        window.location.reload(1);
        }, 300000);
    </script>
    <title>Horta Orgânica 5.0</title>
</head>
<body>
    <header>
        <div class="cabecalho">
            <h1>Horta Orgânica</h1>
            <h2>Movimento do Trabalhadores Sem Teto</h2>
        </div>
    </header>
    <main>
        <section id="como-funciona">
            <div class="container">
                <h3>Como funciona?</h3>
                <p>
                    A horta comunitária orgânica Dandara, construída no centro do empreendimento Dandara do MTST, é um projeto coletivo do condomínio para o estímulo à alimentação saudável e à construção coletiva. Os militantes que conquistaram suas moradias por meio da luta têm acesso a vegetais da mais alta qualidade que, depois de colhidos, são distribuídos por preços simbólicos para a comunidade local.
                </p>
                <p>
                    Como projeto de conclusão do curso de Introdução à programação do Núcleo de Tecnologia do MTST, os estudantes se responsabilizaram por criar um sistema para automatizar a gestão de saúde da horta. Com componentes de última geração e uma interface web, os moradores do Dandara conseguem medir a temperatura e a umidade do ar, a luminosidade e a umidade do solo e garantir que os vegetais estejam sempre fresquinhos e no melhor estado para consumo.
                </p>
            
                <div class="painel">
                    <div class="col-1">
                        <img src="/static/img/elipse.png" alt="Horta">
                    </div>
                    <div class="col-2">
                        <div class="box-painel">
                            <div class="container-painel">
                                <div class="row">
                                    <div class="col">
                                        <h4>Umidade da terra</h4>
                                        <!-- {{umidade_do_solo}} -->
                                        <p id="status-umidade">Regue novamente</p>
                                        <ul class="nivel nivel-umidade">
                                            <li><div id="umidade1" class="gota"></div></li>
                                            <li><div id="umidade2" class="gota"></div></li>
                                            <li><div id="umidade3" class="gota"></div></li>
                                            <li><div id="umidade4" class="gota"></div></li>
                                            <li><div id="umidade5" class="gota"></div></li>
                                        </ul>
                                    </div>
                                    
                                    <script>
                                        var umidade_do_solo = '{{umidade_do_solo}}';
                                        for (var i = 1; i <= 5; i++) {
                                            var idElement = 'umidade'+i;
                                            if (umidade_do_solo >= i*20){
                                                elemento = document.getElementById(idElement);
                                                elemento.classList.add('active');
                                            }
                                        }
                                        if (umidade_do_solo >= 40) {
                                            document.getElementById("status-umidade").innerText = 'Não regar';
                                        }
                                    </script>
                                   
                                    <div class="col">
                                        <h4>Luminosidade</h4>
                                        <p id="status-luminosidade">Escuro</p>
                                        <ul class="nivel nivel-luminosidade">
                                            <li><div class="luz" id="luminosidade1"></div></li>
                                            <li><div class="luz" id="luminosidade2"></div></li>
                                            <li><div class="luz" id="luminosidade3"></div></li>
                                            <li><div class="luz" id="luminosidade4"></div></li>
                                            <li><div class="luz" id="luminosidade5"></div></li>
                                        </ul>
                                    </div>

                                    <script>
                                        var nivel_luminosidade = 40; /* Trocar pela variável*/
                                        for (var i = 1; i <= 5; i++) {
                                            var idElement = 'luminosidade'+i;
                                            if (nivel_luminosidade >= i*20){
                                                elemento = document.getElementById(idElement);
                                                elemento.classList.add('active');
                                            }
                                        }
                                        if (umidade_do_ar >= 50) {
                                            document.getElementById("status-luminosidade").innerText = 'Claro';
                                        }
                                    </script>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h4>Umidade do ar</h4>
                                        <!-- {{umidade_do_ar}} -->
                                        <p id="status-umidade-ar">Ar seco</p>
                                        <ul class="nivel nivel-umidade-ar">
                                            <li><div id="umidade-ar1" class="gota"></div></li>
                                            <li><div id="umidade-ar2" class="gota"></div></li>
                                            <li><div id="umidade-ar3" class="gota"></div></li>
                                            <li><div id="umidade-ar4" class="gota"></div></li>
                                            <li><div id="umidade-ar5" class="gota"></div></li>
                                        </ul>
                                    </div>

                                    <script>
                                        var umidade_do_ar = 25; /* Trocar pela variável*/
                                        for (var i = 1; i <= 5; i++) {
                                            var idElement = 'umidade-ar'+i;
                                            if (umidade_do_ar >= i*20){
                                                elemento = document.getElementById(idElement);
                                                elemento.classList.add('active');
                                            }
                                        }
                                        if (umidade_do_ar >= 50) {
                                            document.getElementById("status-umidade-ar").innerText = 'Ar úmido';
                                        }
                                    </script>

                                    <div class="col temp">
                                        <h4>Temperatura do Ar</h4>
                                        <p class="num">{{temperatura_do_ar}}°</p>
                                        <div class="borda-nivel-ar">
                                            <div class="barra-nivel-ar" style="width:{{perc_temperatura}}%"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col nivel-ph">
                                        <h4>Ph</h4>
                                        <ul class="ul-ph">
                                            <li><p>Ácido</p></li>
                                            <li class="li-right"><p>Alcalino</p></li>
                                        </ul>
                                        <div class="borda-nivel-ph">
                                            <div class="barra-nivel-ph"></div>
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="credito">
            <p>Desenvolvido pelo <a href="https://nucleodetecnologia.com.br/" target="_blank">Núcleo de Tecnologia do MTST</a></p>
        </div>
    </footer>    
</body>
</html>